body{
    background-color: #6dc5d1;
    background-image: url("Mathematics\ Arslan\ Khan.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Kalinia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "width", 100;
    color:linen;
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 100%;
    background-color: #006ac0;
    color: #0a0707;
    text-align: center;
}
.azerbaycan{
    background-color: white;
}
.navbar {
    overflow: hidden;
    background-color: navy;
    padding: 7.5px;
    text-align: center;
}

.navbar a {
    color: khaki;
    font-weight: bold;
    padding: 7.5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid cornsilk;
}

.navbar a:hover {
    background-color: dodgerblue;
    color: white;
    border-style: outset;
}

.navbar a.active {
    background-color: orange;
    color: teal;
}

.mather{
    background-color: navy;
    color:khaki;
    font-weight: bold;
    padding: 7.5px;
    text-align: center;
    border: 3px solid cornsilk;
}

.mather a:hover {
    background-color: dodgerblue;
    color: white;
    border-style: outset;
}